
body {
    font-size: 10px;
    font-family: 'Fjalla One', sans-serif;
    background-color: cadetblue;
}

#title {
    font-size: 6rem;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0.2rem 0.2rem 0.5rem #5c575c;
}

#seconds {
    text-align: center;
    font-size: 5rem;
    margin: 2rem;
}

#button_container {
    width: 20%;
    margin: 0 auto;
    height: 3rem;
}

.btn {
    width: 40%;
    float: left;
    height: 3rem;
    margin: 5%;
    padding: 2%;
    font-size: 1.5rem;
    font-family: 'Fjalla One', sans-serif;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.5rem #5c575c;
}

.clearfix {
    clear: both;
}

.stop {
    background-color: indianred;
    border: 0.1rem solid indianred;
}

.start {
    background-color: mediumseagreen;
    border: 0.1rem solid mediumseagreen;
}
